<p>
  <a (click)="goBackButtonPressed()" style="cursor: pointer">Go Back</a>
</p>

<p *ngIf="!recipe">
  Loading recipe … please wait a moment!
</p>

<div *ngIf="load_error">
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ error_text }} - <a [routerLink]="['/recipe']">Back to recipe list</a>
  </div>
</div>

<div *ngIf="recipe && !load_error" class='recipe panel panel-default'>
  <div class="panel-heading">
    <h3 class="panel-title">{{ recipe.title }}</h3>
  </div>
  <div class="panel-body">
    <div class='cover-photo-holder'>
      <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }}"/>
    </div>
    <p>{{ recipe.description }}</p>
    <div>
      <div class="data-title">Preperation Time</div>
      <div>{{recipe.preparation_time}}</div>
      <div style="float: left; font-weight: bold; width: 150px">Feeds how many</div>
      <div>{{recipe.feeds_this_many}}</div>
    </div>

    <h4>ingredients</h4>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.ingredient}} {{ ingredient.measure}}
      </li>
    </ul>

    <h4>Instructions</h4>
    <ul>
      <li *ngFor="let instruction of recipe.instructions">
        {{ instruction.instruction}}
      </li>
    </ul>
  </div>
</div>
